//TODO all button styles will go here
@use 'colors' as *;
@use 'mixins/buttons' as *;
.btn-group {
  .btn {
    margin-left: 3px;
    margin-right: 3px;
  }
  &.right {
    text-align: right;
  }
  &.left {
    text-align: left;
  }
}

.btn {
  background: $bg-seconday;
  color: $white;
  border-radius: 4px;
  border: none;
  padding: 7px 20px;
  display: inline-block;
  font-family: inherit;
  &:hover {
    color: $white;
    background-color: $bg-seconday-light;
    transition: background-color ease-in-out 0.3s;
  }
  &:focus {
    outline: none;
  }

  &:not([href]) {
    cursor: pointer;
    color: $white;
    text-decoration: none;
  }

  &:not([href]):hover {
    color: $white;
    text-decoration: none;
  }

  &:disabled {
    background-color: $bg-seconday-light;
    cursor: not-allowed;
  }

  a {
    display: block;
    width: 100%;
  }
  &.sm {
    padding: 5px 15px;
  }
}

@each $color, $value in $theme {
  .btn-#{$color} {
    @include button-variant($value);
  }
}
