//todo all colors will go here
@mixin gen_colors($color) {
  color: $color !important;
}
@mixin gen_bgcolors($color) {
  background-color: $color !important;
}
@mixin set_root_vars($color, $value) {
  --#{$color}: #{$value};
}
//todo new theme
$main: #4ecca3 !default;
$black: #000000 !default;
$white: #ffffff !default;
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #e0293b !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #18c418 !default;
$cyan: #0dcaf0 !default;

$theme: (
  "red": $red,
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "cyan": $cyan,
  "teal": $main,
  "white": $white,
  "dark": $black,
) !default;

:root {
  @each $color, $value in $theme {
    @include set_root_vars($color, $value);
  }
}

@each $color, $value in $theme {
  .#{$color} {
    @include gen_colors($value);
  }
}

@each $color, $value in $theme {
  .bg-#{$color} {
    @include gen_bgcolors($value);
  }
}
