//todo all colors will go here

$bg-primary: #ffffff;
$bg-seconday: #4f545e;
$bg-seconday-light: #393e46;
$primary: #ffffff;
$secondary: #4ecca3;
$bg-danger: #e0293b;
$bg-danger-light: #c82333;
$bg-success: #18c418;
$bg-success-light: #14ac14;
$text: #000;
.primary {
  color: $primary;
}
.secondary {
  color: $secondary;
}
.danger {
  color: $bg-danger;
}
.success {
  color: $bg-success;
}
.bg-secondary {
  background-color: $secondary;
}
.bg-danger {
  background-color: $bg-danger;
}
.bg-success {
  background-color: $bg-success;
}
