//todo container styles will go here

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .c-res,
  .c-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .c-res,
  .c-sm,
  .c-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .c-res,
  .c-sm,
  .c-md,
  .c-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .c-res,
  .c-sm,
  .c-md,
  .c-lg,
  .c-xl {
    max-width: 1140px;
  }
}
