//todo parent sheet. will be used for main import.
@use 'buttons' as *;
@use 'colors' as *;
@use 'container' as *;
@use 'forms' as *;
@use 'typo' as *;
@use "grid" as *;
//todo font rules here

:root {
  background-color: $bg-primary;
  color: $text;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
